<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CryptJs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Space+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="../dist/cryptJs.js"></script>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <header>
            <img src="logo.svg" alt="Crypto JS">
        </header>
        <ul id="content">
            <li>
                <p class="label">Tipo:</p>
                <ul class="menu object">
                    <li :class="(tipo=='cesar')?'activo':''" @click="tipo='cesar'">
                        Cesar
                    </li>
                    <li :class="(tipo=='bloque')?'activo':''" @click="tipo='bloque'">
                        Bloque
                    </li>
                </ul>
                <p class="label">Texto:</p>
                <textarea class="object" v-model="text" cols="30" rows="10"></textarea>
                <ul class="options">
                    <li>
                        <p class="label">Sustitución: </p>
                        <input class="object" type="number" v-model="sustitucion">
                    </li>
                    <li v-if="tipo == 'bloque'">
                        <p class="label">Bloque: </p>
                        <input class="object" type="number" v-model="bloque">
                    </li>
                    <li v-if="tipo == 'bloque'">
                        <p class="label">Intercambio: </p>
                        <input class="object" type="number" v-model="intercambio">
                    </li>
                </ul>
                <ul class="options">
                    <li>
                        <button @click="encriptar()">Encriptar</button>
                    </li>
                    <li>
                        <button @click="desencriptar()">Desencriptar</button>
                    </li>
                </ul>
            </li>
            <li>
                <p class="output">CRYPT_JS > {{ output }}</p>
            </li>
        </ul>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            letras: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'Ñ', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'],
            text : 'La UABCS en conjunto con el DASC y otras universidades organizan el primer congreso internacional en el area de inclusion',
            tipo: 'cesar',
            sustitucion: 3,
            bloque: 3,
            intercambio: 3,
            output: ''
        },
        mounted: function()  {
            // Encriptar
            console.log(
                //window.cryptJs.cesar.encrypt(this.text, 3, this.letras, 1)
                //window.cryptJs.bloque.encrypt(this.text, 3, 7, 5, this.letras, 1)
            )
        },
        methods: {
            encriptar: function() {
                switch (this.tipo) {
                    case 'cesar':
                        this.output = window.cryptJs.cesar.encrypt(this.text, this.sustitucion, this.letras, 1)
                        break;
                    case 'bloque':
                        this.output = window.cryptJs.bloque.encrypt(this.text, this.bloque, this.sustitucion, this.intercambio, this.letras, 1)
                        break;
                }
            },
            desencriptar: function() {
                switch (this.tipo) {
                    case 'cesar':
                        this.output = window.cryptJs.cesar.decrypt(this.text, this.sustitucion, this.letras, 1)
                        break;
                    case 'bloque':
                        this.output = window.cryptJs.bloque.decrypt(this.text, this.bloque, this.sustitucion, this.intercambio, this.letras, 1)
                        break;
                }
            }
        }
    })
    // Desencriptar
    /**
     * n: -3
     * nCase: 1
     */
    let text2 = 'IX RXYZP BK ZMKGRKQM ZMK BI AXPZ V MQOXP RKFSBOPFAXABP MODXKFWXK BI NOFJBO ZMKDOBPM FKQBOKXZFMKXI BK BI XOBX AB FKZIRPFMKP'
</script>
</html>